
// FORMS


fieldset {
  border: 0;
  padding: 0;
}

textarea,
input[type="text"],
input[type="password"] 
{
    @include font-size(13);
    display: inline-block;
    padding: 10px;
}


.button,
.button:link,
.button:visited,
button,
input[type="submit"] {
    @include font-size(16);
    @include transition();
    cursor: pointer;
    border: 0;
    border-radius: 0;
    padding: .5em 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $base;
    color: $base0;
    &:hover {
        background: $anchor;
        color: $base0;
    }
}
